Django==2.2.1
django-heroku==0.3.1
gunicorn==19.9.0
Jinja2==2.10.1
jsonschema==3.0.1
mysqlclient==1.4.2.post1
psycopg2==2.8.2
pytz==2019.1
pywin32==224
pywinpty==0.5.5
pyzmq==18.0.1
requests==2.21.0
whitenoise==4.1.2
