{% extends 'controle_pedidos/base.html' %}
{% block title %}Comanda Eletrônica - Menu{% endblock %}

{% block content %}
<div class="container text-center">
        <div class="col-xl-12 mx-auto">
            <form method="POST">
                {% csrf_token %}
                <div class="form-group row">
                    <label for="nomeProduto" class="col-md-2 col-form-label">Nome do produto:</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="nomeProduto" name="nomeProduto" placeholder="Nome do Produto">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="valorProduto" class="col-md-2 col-form-label">Valor do produto:</label>
                    <div class="col-md-10">
                        <input type="number" step="0.01" class="form-control" id="valorProduto" name="valorProduto" placeholder="Valor do Produto">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="descricaoProduto" class="col-md-2 col-form-label">Descrição do produto:</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="descricaoProduto" name="descricaoProduto" placeholder="Descrição do Produto">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col">
                        <button type="submit" class="btn btn-success">Salvar</button>
                    </div>
                    <div class="col">
                        <a class="btn btn-secondary" href="{% url 'controle_pedidos:gerenciaprodutos' %}" role="button">Fechar</a>
                    </div>
                </div>
            </form>
        </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">ID de Comanda inativo!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p>{{ erro }}</p>
      </div>
    </div>
  </div>
</div>


{% if erro %}
    <script>
    $(document).ready(function(){
    $("#myModal").modal();
  });
    </script>
{% endif %}
{% endblock %}